.node-panel {
  width: 180px;
  background: #f5f5f5;
  padding: 15px;
  border-right: 1px solid #ddd;
  height: 100vh;
}

.draggable-node {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: white;
  cursor: grab;
  user-select: none;
  text-align: center;
  font-weight: bold;
}
